# Build folders
build/
CMakeFiles/
CMakeCache.txt
*.vcxproj*
*.sln

# Binaries
*.exe
*.obj
*.dll
*.lib

# CMake
CMakeUserPresets.json

# vcpkg build cache
vcpkg_installed/
installed/
packages/

# OS/system
*.log
*.DS_Store
Thumbs.db
